option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: main:app
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
    RESEND_API_KEY: "re_6cf9e1sJ_JNFHGS5a23LJjZS8VrTBrEMf"
    FROM_EMAIL: "contato@astexai.com"
    EMAIL_USER: "astextechnologies@gmail.com"
    EMAIL_PASSWORD: "fupl ccvj hwcs ddtk"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static 